body {
    font-family: Arial, Helvetica, sans-serif;
}

.headp {
    text-align: center;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.container {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.rules {
    font-family: 'Courier New', Courier, monospace;
}
