body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background-color: white;
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.border {
    border: 2px solid black;
}

.headp {
    text-align: center;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}



.rules {
    font-family: 'Courier New', Courier, monospace;
}

.foot {
    background-color: lightblue;
}
